@page "/"

<PageTitle>Index</PageTitle>

<h1>Bohdan Ilin, nr. Albumu: 115094</h1>
<img src="https://www.prezentacni-systemy.eu/fotky1118/fotos/_vyrp15_60451799375_04.jpg" alt="Welcome" width="300" height="200" />